@import 'colors.scss';
@import 'responsive.scss';

section {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
    
    .left {
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 70%;
    }

    .right {
        flex: 30%;
    }
}

@include for-mobile {
    section {
        flex-direction: column;
        padding: 8px;
        box-sizing: border-box;
    }
    
}