<header>
    <div class="header-container">
        <div class="logo-container">
            <h1>
                <span class="font-700 c-navajo">Social</span> 
                <span class="font-400 c-apricot">Network</span>
            </h1>
        </div>
        <div class="search-container">
          <input type="text" placeholder="Search" class="search-input">
          <button class="upload-button">Upload</button>
        </div>
        <div class="profile-info">
            <div class="profile-pict">
                <div class="image-container">
                    <img src="assets/images/icon-profile.png" alt="Profile" class="profile-icon">
                </div>
            </div>
            <div class="profile-name">
                <span class="font-700 firstname">Firstname</span>
                <span class="font-400 lastname">Lastname</span>
            </div>
        </div>
      </div>
</header>